In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup

In [2]:
headers = {"Accept-Language":"en-US,en;q=0.5"}

In [3]:
movie_name = []
year = []
time = []
rating = []
metascore = []
votes = []
gross = []

In [4]:
pages = np.arange(1,1000,100)

In [5]:
for page in pages:
    page = requests.get("https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start="+str(page)+"&ref_=adv_nxt")
    soup = BeautifulSoup(page.text,'html.parser')
    movie_data = soup.findAll('div',attrs = {'class':'lister-item mode-advanced'})
    for store in movie_data:
        name = store.h3.a.text
        movie_name.append(name)
        
        year_of_release = store.h3.find('span',class_= "lister-item-year text-muted unbold").text.replace('(','').replace(')','')
        year.append(year_of_release)
        
        runtime = store.p.find('span',class_ = "runtime").text.replace('min','')
        time.append(runtime)
        
        rate = store.find('div', class_ = "inline-block ratings-imdb-rating").text.replace('\n','')
        rating.append(rate)
        
        meta = store.find('span',class_ = "metascore").text if store.find('span',class_ = "metascore") else "^^"
        metascore.append(meta)
        
        value = store.find_all('span',attrs = {'name':'nv'})
        vote = value[0].text
        votes.append(vote)
        
        grosses = value[1].text if len(value)> 1 else '^^'
        gross.append(grosses)

In [6]:
movie_list = pd.DataFrame({"Movie Name":movie_name, "Year of Release":year, "Watch Time":time, "Movie Rating":rating, "Metascore of Movies":metascore, "Votes":votes, "Gross":gross})

In [7]:
movie_list

,Movie Name,Year of Release,Watch Time,Movie Rating,Metascore of Movies,Votes,Gross
0,The Shawshank Redemption,1994,142,9.3,80,"2,418,382",$28.34M
1,The Godfather,1972,175,9.2,100,"1,672,597",$134.97M
2,Soorarai Pottru,2020,153,9.1,^^,"84,584",^^
3,Dara iz Jasenovca,2020,130,9.0,^^,"35,019",^^
4,The Dark Knight,2008,152,9.0,84,"2,375,787",$534.86M
...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,7.6,76,"170,512",^^
996,Giant,1956,201,7.6,84,"35,020",^^
997,Shane,1953,118,7.6,80,"38,059",$20.00M
998,From Here to Eternity,1953,118,7.6,85,"44,353",$30.50M
999,Lifeboat,1944,97,7.6,78,"27,095",^^

In [8]:
import os

In [15]:
os.getcwd()

'C:\\Users\\91998'

In [21]:
movie_list.to_csv("Top IMDB Movies List.csv")